#map {
    width: 100%;
    height: 300px;
    background-color: rgb(229, 227, 223);
  }

  .contact-anchor{
    padding: 10px 15px;
    font-family: Montserrat,helvetica neue,Helvetica,Arial,sans-serif;
    color: #2e2e2e!important;
    letter-spacing: .01rem;
    font-size: 100%;
    /* font-weight: 700; */
    /* font-size: 1rem; */
    text-transform: none;
}

.contact {
    padding: 50px;
    height: 300px;
}
